.contact {
  border-top: 2px solid var(--primary);
  padding: 107px 0;
  min-height: 380px;
  display: flex;
  align-items: center;
  background-image: url('../contact-bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    display: flex;
    flex-wrap: wrap;
  }
  &-content {
    max-width: 545px;
    margin-right: auto;

    &-title {
      margin: 0 0 16px;
    }
  }
  &-form {
    display: flex;
    align-items: center;

    .submit_wrapper {
      position: relative;
    }
    form {
      display: flex;
      flex-wrap: wrap;
    }
    input {
      outline: none;
      box-sizing: border-box;
      color: #fff;
      padding: 15px 16px;
      height: 56px;
      font-size: 20px;
      line-height: 26px;
      border-radius: 0;

      &[type="email"] {
        background: transparent;
        border: 1px solid #A8A8AF;
        width: 430px;
        margin-right: 26px;

        &:not(:disabled) {
          &:focus,
          &:active {
            border-color: var(--primary);

            &:invalid {
              border-color: var(--red)
            }
          }
        }
      }
      &[type="submit"] {
        width: 204px;
        border: none;
      }
    }
  }
  @media screen and (max-width: 1440px) {
    &-content {
      max-width: 100%;
      margin-bottom: 48px;
    }
  }
  @media screen and (max-width: 720px) {
    padding: 40px 0;
    &-content {
      margin-bottom: 35px;
    }
    &-form {
      width: 100%;
      .submit_wrapper {
        width: 100%;
      }
      form {
        width: 100%;
      }
      input {
        font-size: 16px;
        line-height: 1;
        height: 48px;

        &[type="email"],
        &[type="submit"] {
          max-width: 100%;
          width: 100%;
          margin-right: 0;
          margin-top: 20px;
        }
      }
    }
  }
}