.table {
  position: relative;
  border: 1px solid #4E525E;
  color: #D4D3D7;
  overflow: hidden;

  &-wrapper {
    padding-bottom: 85px;
  }
  &-row {
    display: flex;
    width: 100%;
    transition: 0.3s;
    height: 56px;
    
    & > div {
      flex: 1 1;
      min-width: 135px;
    }
    &.table-header {
      text-transform: uppercase;
      span, p {
        font-size: 12px;
        white-space: nowrap;
      }
      .table-col {
        background: #343946;
        border-color: #343946;
      }
    }
    // &:not(.table-header):hover {
    //   background: #2a2e3a;
    // }
  }
  &-col {
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #4E525E;

    .error & {
      justify-content: center;
    }
    span {
      font-size: 15px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &:not(:first-child) {
        margin-left: 8px;
      }
    }
    .alt-logo {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background: #343946;    
      overflow: hidden;

      &.loaded {
        img {
          visibility: visible;
        }
      }
      img {
        visibility: hidden;
        width: 100%;
      }
    }
    &.col-1 {
      // flex: 2;
      min-width: 180px;
    }
    &.col-2 {
      // flex: 2;
      min-width: 200px;
    }
    &.col-3 {
      // flex: 3;
      min-width: 210px;
    }
    .symbol {
      color: #7D7C87;
      margin-left: 12px;
    }
  }
  &-header{
    display: flex;
    background: #343946;

    .row-name {
      min-width: 250px;
      max-width: 250px;
      z-index: 4;
    }
    .row-sroll {
      position: relative;
      transition: none;
    }
  }
  &-content {
    display: flex;
    overflow: auto;
    max-height: 70vh;
  }
  &-body {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    height: max-content;
  }
  &-column {
    background: #23262E;
    min-width: 250px;
    max-width: 250px;
    z-index: 3;
  }
  &-note {
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
  }
  &.full-size {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #23262E;
    z-index: 2;
    overflow: auto;

    .table-content {
      max-height: calc(99vh - 56px);
    }
    .table-body {
      // overflow: initial;
      height: max-content;
    }
    .—Å-pagination {
      position: fixed;
    }
  }
  @media screen and (max-width: 720px) {
    &-wrapper {
      .container {
        padding: 0;
      }
    }
    &-header{
      .row-name {
        min-width: 200px;
        max-width: 200px;
      }
    }
    &-column {
      min-width: 200px;
      max-width: 200px;

      .header-col .table-col {
        box-shadow: 3px 0px 4px 0px #0000008c;
      }
    }
    &-col {
      padding: 0 12px;

      span:not(:first-child) {
        margin-left: 5px;
      }
    }
  }
}