.table {
  &-wrapper {

  }
  &-row {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #4E525E;
    transition: 0.3s;
    &.table-header {
      background: #343946;
      border-color: #343946;
    }
    &:not(.table-header):hover {
      background: #2a2e3a;
    }
    & > div {
      flex: 1;
    }

  }
  &-col {
    padding: 0 20px;
    display: flex;
    align-items: center;
    span {
      &:not(:first-child) {
        margin-left: 8px;
      }
    }
    img {
      width: 28px;
      height: 28px;
      border-radius: 50%;
    }
    &.name {
      flex: 2;
    }
    .symbol {
      color: #7D7C87;
      margin-left: 12px;
    }
  }
  &-body {
    border: 1px solid #4E525E;
    color: #D4D3D7;
  }
}

.info {
  display: inline-block;
  position: relative;
  &-wrapper {
    position: relative;
    padding: 12px;

    span {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 8px;
      color: #fff;
      background: var(--primary);
    }
    &:hover {
      .info-text {
        visibility: visible;
        opacity: 1;
        z-index: 2;
      }
    }
  }
  
  &-text {
    width: 200px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary);    
    color: #fff;
    padding: 12px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    box-shadow: 2px 2px 16px 4px #0000006b;
  }
}