
.Ñ-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #343946;
  width: 100%;
  max-width: 644px;
  padding: 0 20px;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25px;
  z-index: 3;
  height: 48px;

  p, span {
    font-size: 12px;
  }
  & > div {
    display: flex;
    align-items: center;
  }
  &-size {
    span {
      margin-right: 10px;
    }
  }
  .pagination {
    display: flex;
    list-style: none;

    li {
      font-size: 14px;
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      cursor: pointer;
      
      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:not(.break-me) {
        &.active,
        &:hover {
          background: var(--primary)
        }
      }
    }
  }
  @media screen and (max-width: 720px) {
    padding: 0 10px;
    &-size {
      span {
        display: none;
      }
    }
    .pagination li {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }
}